.about {
  background: #202020;
  min-height: 604px;
}

.about__container {
  padding: 110px 70px;
}

.about__title {
  margin: 0;
  color: #fff;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  /* text-decoration-line: underline; */
  border-bottom: #dadada 1px solid;
  padding-bottom: 23px;
}

.about__description {
  display: flex;
  flex-direction: row;
  padding-top: 70px;
  gap: 50px;
}

/* .about__column {
  min-width: 550px;
} */

.about__heading {
  margin: 0;
  padding-bottom: 26px;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
}

.about__text {
  margin: 0;
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.about__deadlines {
  padding: 110px 0 0;
}

.about__deadlines-grid {
  padding: 0;
  margin: 0;
  list-style: none;
  grid-template-areas:
    "a b"
    "c d";
  display: grid;
  grid-template-columns: 228px 1fr;
  grid-template-rows: 36px;
  row-gap: 14px;
}

.about__deadlines-week {
  background: #3ddc84;
  grid-area: a;
  color: #000;
  /* text-align: center; */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__deadlines-weeks {
  background: #303030;
  grid-area: b;
  color: #fff;
  /* text-align: center; */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__deadlines-backend {
  grid-area: c;
  color: #8b8b8b;
  /* text-align: center; */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px; /* 121.429% */
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__deadlines-frontend {
  grid-area: d;
  color: #8b8b8b;
  /* text-align: center; */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px; /* 121.429% */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .about__column {
  display: flex;
  flex-direction: column;
} */

@media screen and (max-width: 768px) {
  .about__text {
    font-size: 12px;
    line-height: 18px; /* 150% */
  }

  .about__container {
    padding: 90px 50px;
  }

  .about__description {
    gap: 35px;
  }

  .about__deadlines-grid {
    grid-template-columns: 140px 1fr;
    grid-template-rows: 36px;
    row-gap: 14px;
  }

  .about__deadlines {
    padding: 93px 0 0;
  }

  .about__heading {
    padding-bottom: 23px;
  }
}

@media screen and (max-width: 320px) {
  .about__text {
    font-size: 11px;
    line-height: 16px; /* 150% */
  }

  .about__container {
    padding: 70px 18px;
  }

  .about__description {
    padding-top: 60px;
    flex-direction: column;
    gap: 60px;
  }

  .about__deadlines-grid {
    grid-template-columns: 100px 1fr;
    grid-template-rows: 36px;
    row-gap: 10px;
  }

  .about__deadlines {
    padding-top: 60px;
  }

  .about__heading {
    font-size: 18px;
    padding-bottom: 16px;
  }

  .about__title {
    font-size: 18px;
    padding-bottom: 28px;
  }

  .about__column {
    display: flex;
    flex-direction: column;
  }

  .about__deadlines-week {
    font-size: 11px;
  }

  .about__deadlines-weeks {
    font-size: 11px;
  }

  .about__deadlines-backend {
    font-size: 11px;
  }
  
  .about__deadlines-frontend {
    font-size: 11px;
  }
}
