.page404 {
  min-height: 100vh;
  min-width: 100vw;
  background: #202020;
  display: flex;
  flex-direction: column;
}

/* .page404__error-message {

} */

.page404__error-code {
  padding-top: 246px;
  margin: 0;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.page404__error-caption {
  padding-top: 5px;
  margin: 0;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.page404__link {
  margin: 0;
  margin-top: 184px;
  color: #4285f4;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.page404__link:hover {
  opacity: 0.5;
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  .page404__error-code {
    padding-top: 408px;
  }
}

@media screen and (max-width: 330px) {
  .page404__error-code {
    padding-top: 329px;
    font-size: 80px;
  }

  .page404__error-caption {
    padding-top: 10px;
    font-size: 12px;
  }

  .page404__link {
    margin-top: 284px;
    font-size: 12px;
  }
}
