.movies__list {
  background: #202020;
  list-style: none;
  margin: 0;
  padding: 70px 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 364px);
  gap: 24px;
  row-gap: 37px;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .movies__list {
    grid-template-columns: repeat(auto-fit, 339px);
    gap: 30px;
    row-gap: 30px;
  }
}

@media screen and (max-width: 400px) {
  .movies__list {
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 30px;
    row-gap: 14px;
    padding-top: 40px;
  }
}
