.header {
  min-height: 74px;
  background: #073042;
  min-width: 320px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 18px 70px 14px;
}

.header__navigation {
  display: flex;
}

.header__navigation-container {
  align-items: center;
  list-style: none;
  display: flex;
  padding: 0;
  padding-left: 45px;
  margin: 0;
  gap: 16px;
}

.header__link {
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: right;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 138.462% */
  text-decoration: none;
}

.header__link:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.header__logo {
  margin: 0;
  padding: 0;
}

.header__logo:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.header__account-button {
  background-color: #073042;
  border: none;
  margin: 0;
  padding: 0;
  padding-right: 3px;
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__account-button:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.header__account-link {
  padding-right: 7px;
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  text-decoration: none; /* 92.308% */
}

.header__account-logo {
  min-width: 26px;
  min-height: 26px;
  background: url(../../images/icon__COLOR_icon-main.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
  background-color: #0f4157;
}

.header__account-burger {
  padding: 0;
  display: none;
  background: url(../../images/burger__button.svg);
  cursor: pointer;
  border: none;
  width: 38px;
  height: 38px;
  background-position: center;
  align-self: center;
}

.header__account-burger:hover {
  opacity: 0.5;
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  .header__container {
    padding: 18px 30px 14px;
  }

  .header__navigation-container {
    display: none;
  }

  .header__account-button {
    display: none;
  }

  .header__account-burger {
    display: block;
  }
}

@media screen and (max-width: 320px) {
  .header__container {
    padding: 18px 14px 14px;
  }

  .header__navigation-container {
    display: none;
  }

  .header__account-button {
    display: none;
  }

  .header__account-burger {
    display: block;
  }

  .header__account-burger {
    width: 35px;
    height: 35px;
  }
}
