.footer__section {
  background: #202020;
  padding: 195px 70px 0;
}

.footer__text {
  margin: 0;
  color: #8b8b8b;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: 1px solid #424242;
  padding-bottom: 20px;
}

.footer__container {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.footer__date {
  margin: 0;
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__navigation {
  display: flex;
  gap: 20px;
}

.footer__link {
  color: #fff;
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.footer__link:hover {
  opacity: 0.5;
  transition: 0.5s;
}