.footer {
  background: #202020;
  padding: 79px 70px 0;
}

.footer__text {
  margin: 0;
  color: #8b8b8b;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: 1px solid #424242;
  padding-bottom: 20px;
}

.footer__container {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.footer__date {
  margin: 0;
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #8b8b8b;
}

.footer__navigation {
  grid-area: a;
  display: flex;
  gap: 20px;
}

.footer__link {
  color: #fff;
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.footer__link:hover {
  opacity: 0.5;
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 79px 30px 0;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding: 79px 10px 0;
  }

  .footer__text {
    font-size: 12px;
  }

  .footer__container {
    padding: 30px 0 20px;
    display: grid;
    justify-content: center;
    grid-template-areas:
      "a"
      "b";
  }

  .footer__link {
    font-size: 12px;
  }

  .footer__date {
    padding-top: 30px;
    grid-area: b;
    text-align: center;
  }

  .footer__navigation {
    grid-area: a;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
}
